<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Online Railway Reservation System</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<servlet>

<servlet-name>s1</servlet-name>

<servlet-class>UserController</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>s1</servlet-name>

<url-pattern>/UserController</url-pattern>

</servlet-mapping>


<context-param>

<param-name>superfast</param-name>

<param-value>4</param-value>

</context-param>


<context-param>

<param-name>express</param-name>

<param-value>3</param-value>

</context-param>


<context-param>

<param-name>first_ac</param-name>

<param-value>50</param-value>

</context-param>


<context-param>

<param-name>second_ac</param-name>

<param-value>40</param-value>

</context-param>


<context-param>

<param-name>third_ac</param-name>

<param-value>30</param-value>

</context-param>


<context-param>

<param-name>sleeper</param-name>

<param-value>10</param-value>

</context-param>

</web-app>